 <body>
    <div class="container">
      <div class = "row">
        <div class="col-3">
          <%= render 'public/searches/genre', genres: @genres %>
        </div>
        <!--ECサイト説明部分-->
        <div class="box col-9 top_explanation">
          <div class="box-text">
            <h3>ようこそ、NaganoCakeへ！</h3>
            <p>このサイトは、ケーキ販売のECサイトになります。</p>
            <p>会員でない方も商品の閲覧はできますが、</p>
            <p>購入には会員登録が必要になります。</p>
          </div>

          <h4 class="new-item">新着商品</h4>
            繰り返しで商品を表示<br>
            <div class = 'link text-right link-dark'>
              <%= link_to items_path do %>
                  全ての商品を見る＞
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </body>