<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <h3>ジャンル編集</h3>

    <div class="edit-genre-form">
      <%= form_with model: @genre, url: admin_genre_path,method: :patch do |f| %>
      <%= f.label :"ジャンル名", class: "col-md-2" %>
      <%= f.text_field :name, class: "col-md-2" %>
      <%= f.submit "変更を保存", class: "btn btn-primary" %>
    </div>
      <% end %>
    </div>
  </div>