
　<h1>ショッピングカート</h1>
　<table class = "table">
　  <thead>
　    <tr>
　      <th>商品名</th>
　      <th>単価(税込)</th>
　      <th>数量</th>
　      <th>小計</th>
　      <th></th>　<!--削除するボタン用-->
　    </tr>
　  </thead>

　  <tbody>
　      <tr>
　        <td></td>
　      </tr>
　  </tbody>
　</table>

　 　商品名
　 　単価(単価＋単価 * 0.1)
　 　数量(プルダウンメニューで個数選択、変更ボタンで適用)
　 　小計
　 　削除ボタン

　 　合計金額(小計の合計)

　 　買い物を続ける(Topぺージに移動)

　 　情報入力に進む(注文情報入力画面に移動)

