<div class="container">
  <div class = "row">
    <div class="col-12", style="text-align:center">
		<h1 class="message", style="color:#660000">ご注文ありがとうございました！</h1>
		<p>商品のお届けまで楽しみにお待ちください♪</p>
	</div>
</div>
</div>