<div class="container">
      <div class = "row">
        <!--ジャンル検索-->
        <div class="col-3">
          ここにジャンルの部分テンプレート
        </div>
        
        <div class="col-9">
         <!--商品画像-->
         <%= image_tag user.get_profile_image, size:'100x100' %>
         <%= @item. %>
     
 商品名
 商品説明
 値段( 税抜価格＋ (税抜価格 ×  0.1))
 個数選択プルダウン
 カートに入れるボタン